* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
    place-items: center;
    background: #dde6f0;
}

.circular {
    width: 100px;
    height: 100px;
    position: relative;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.circular .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    z-index: 6;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    background: #dde6f0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .numb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #4158d0;
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    clip: rect(0 100px 100px 50px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    clip: rect(0 50px 100px 0px);
    background: #4158d0;
}

.circle .left .progress {
    z-index: 1;
    animation: left 4s linear both;
    -webkit-animation: left 4s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}

.circle .right {
    z-index: 3;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
}